* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.button {
  font-size: 20px;
  color: gray;
  background-color: white;
  transition: all .1s ease;
  border: 0;

  &:focus, &:hover {
    transform: scale(1.2);
    color: black;
    outline: 0;
  }
}

.primary-button {
  border: 1px solid #007bff;
  border-radius: 3px;
  color: #007bff;
  background-color: white;
  transition: all .2s ease;

  &:hover {
    background-color: #007bff;
    color: white;
  }
}